<!-- app/views/competitions/_competition-card.html.erb -->

<% @top_competitions.each_with_index do |competition, index| %>
  <div class="wrapper">
    <%= link_to competition_path(competition), class: 'clash-card-link' do %>
      <div class="clash-card <%= card_class(competition.sport.name) %>">
        <div class="clash-card__image <%= image_class(competition.sport.name) %>">
          <% if competition.image_url.present? %>
            <div class="competition-image">
              <img src="<%= competition.image_url %>" alt="<%= competition.name %>" />
            </div>
          <% end %>
        </div>
        <div class="clash-card__level <%= level_class(competition.sport.name) %>"><%= competition.sport.name %></div>
        <div class="clash-card__unit-name"><%= competition.name %></div>
        <div class="clash-card__unit-description">
          <p><i class="fa-solid fa-location-dot"></i> <%= competition.city %> </p>
          <p><strong class="clash-card__level <%= level_class(competition.sport.name) %>"><%= competition.teams.count %> teams constituées</strong></p>
        </div>
        <div class="clash-card__unit-stats <%= stats_class(competition.sport.name) %> clearfix">
          <div class="one-third">
            <div class="stat"><%= competition.date.strftime("%d.%m.%y") %></div>
            <div class="stat-value">Date</div>
          </div>
          <div class="one-third">
            <div class="stat"><%= competition.time.strftime("%H:%M") %></div>
            <div class="stat-value">Heure</div>
          </div>
          <div class="one-third no-border">
            <div class="stat"><%= formatted_cost(competition.cost) %></div>
            <div class="stat-value">Coût</div>
          </div>
        </div>
      </div> <!-- end clash-card -->
    <% end %>
  </div> <!-- end wrapper -->
<% end %>
