<!-- app/views/competitions/show.html.erb -->
<div class="container see-team mt-4" data-controller="join-team">
  <div class="row">
    <!-- Section principale -->
    <div class="col-md-9">
      <div class="bg-light p-4 rounded shadow-sm">
        <% sport_color = case @competition.sport.name
                          when 'Badminton'
                            '#82bb30'
                          when 'Tennis'
                            '#176cc7'
                          when 'Padel'
                            '#f69019'
                          when 'Ping-pong'
                            '#ee5487'
                          else
                            '#000000' # couleur par défaut ou autre traitement
                          end %>

        <h1 class="mb-5" style="color: <%= sport_color %>;">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @competition.name %></h2>
        <p><strong><i class="fa-solid fa-trophy"></i></strong>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @competition.sport.name %></p>
        <p><strong><i class="fa-solid fa-people-group"></i></strong>   &nbsp;&nbsp;&nbsp;&nbsp;<%= @competition.teams.count %> équipes</p>
        <p><strong><i class="fa-solid fa-calendar-days"></i></strong>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @competition.date.strftime('%d %B %Y') %></p>
        <p><strong><i class="fa-solid fa-clock"></i></strong>   &nbsp;&nbsp;&nbsp;&nbsp;<%= @competition.time.strftime('%Hh%M') %></p>
        <p><strong><i class="fa-solid fa-location-dot"></i></strong>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @competition.address %></p>
        <%= link_to "Retour à la liste des compétitions", competitions_path, class: "btn btn-outline-primary team-button mt-3 mb-2", style: "color: #{sport_color}; border-color: #{sport_color};" %>
      </div>
    </div>

<div class="col-md-9">
  <div class="mt-4 p-4 rounded shadow-sm rounded bg-light">
    <h3 class="text-secondary mb-4">Équipes inscrites</h3>
    <div class="row">
      <% @competition.teams.order(created_at: :desc).each do |team| %>
        <div class="col-md-4 mb-4">
          <%= link_to user_path(team.owner_id), class: 'text-decoration-none' do %>
            <div class='h-100'>
              <div class="card-body team1" style="background-color:#FFFFFF;border: 1px solid <%= sport_color %>;">
                <h5 class="card-title" style="color: <%= sport_color %>;"><%= team.name %></h5><br>
                <p class="card-text team1"><strong class="text-dark"><i class="fa-solid fa-user-group"></i></strong> <span class="text-muted"><%= team.number_max_of_participants %> participants MAX</span></p><br>
                <p class="card-text team1"><strong class="text-dark">Créateur de l'équipe :</strong> <span class="text-muted"><%= User.find(team.owner_id).name %></span></p><br>
                <button class="btn btn-primary btn-sm mt-3 mb-2 w-100" style="background-color: <%= sport_color %>; border-color: <%= sport_color %>;" data-action="click->join-team#openModal" data-team-id="<%= team.id %>" data-team-chatroom-url="<%= chatroom_path(team.chatroom) %>">Rejoindre</button>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

    <!-- Section pour ajouter une nouvelle équipe -->
    <div class="col-md-3 mt-4">
      <div class="bg-light p-4 rounded shadow-sm">
        <h4 class="text-success">Ajouter une équipe</h4>
        <%= simple_form_for([@competition, @competition.teams.build], url: competition_teams_path(@competition), html: { class: 'form-horizontal' }) do |f| %>
          <% if @team.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h5><%= pluralize(@team.errors.count, "erreur") %> ont empêché l'enregistrement de l'équipe :</h5>
              <ul>
                <% @team.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.input :name, label: 'Nom de l\'équipe', input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.input :number_max_of_participants, label: 'Nombre maximum de participants', input_html: { class: 'form-control', min: 0 } %>
          </div>
          <div class="form-group">
            <%= f.submit 'Ajouter l\'équipe', class: 'btn btn-success btn-block', style: "background-color: #{sport_color}; border-color: #{sport_color};" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Modale pour rejoindre une équipe -->
<div class="modal see-team-modal" data-join-team-target="modal">
  <% sport_color = case @competition.sport.name
                          when 'Badminton'
                            '#82bb30'
                          when 'Tennis'
                            '#176cc7'
                          when 'Padel'
                            '#f69019'
                          when 'Ping-pong'
                            '#ee5487'
                          else
                            '#000000' # couleur par défaut ou autre traitement
                          end %>
  <div class="modal-background" data-action="click->join-team#close"></div>
  <div class="modal-content">
    <button class="modal-close is-large" aria-label="close" data-action="click->join-team#close">&times;</button>
    <div class="modal-body team1">
      <h3 class="modal-title" style="color: <%= sport_color %>;">Bienvenue dans la team !</h3>
      <p class="modal-text">Nous sommes ravis de t'avoir avec nous. Que l'aventure commence !</p>
      <button class="btn btn-secondary team-button" data-action="click->join-team#close">Retour aux équipes</button>
      <button class="btn btn-primary team-button" style="background-color: <%= sport_color %>; border-color: <%= sport_color %>;" data-action="click->join-team#goToChatroom">Discuter avec mes équipiers</button>
    </div>
  </div>
</div>
</div>
